@import "../../styles/variables";

.container {
  padding: 0 16px;

  @media screen and (min-width: $table) {
    padding: 0 32px;
  }

  @media screen and (min-width: $desktop) {
    padding: 0 60px;
  }

  @media screen and (min-width: $desktop-l) {
    width: $desktop-l;
    margin: 0 auto;
  }

  @media screen and (min-width: 1290px) {
    padding: 0;
  }
}
