@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import './palette';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif !important;
}

body {
  width: 100%;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  background-color: var(--palette-background);
}
